{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["jest", "jest-formatting", "@typescript-eslint", "prettier"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier",
    "plugin:jest/all",
    "plugin:jest-formatting/recommended"
  ],
  "rules": {
    "no-console": 1, // Means warning
    "prettier/prettier": 2, // Means error
    "jest/no-hooks": 0,
    "jest/expect-expect": 0,
    "jest/prefer-expect-assertions": 1,
  }
}
